{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Log Activity{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
  <div class="layout layout-sm-column">
    {{paper-input class="flex" label="Title Text" type="text" value=memo.title onChange=(action (mut memo.title))}}
    {{#paper-button primary=true onClick=(action "addMemo")}}Submit{{/paper-button}}
  </div>
  <div class="layout layout-sm-column">
    {{paper-input class="flex" label="Description Text" type="text" value=memo.description onChange=(action (mut memo.description))}}
    {{pikaday-input class="flex date-picker-input" minDate=memo.minDate value=memo.dateCreatedString placeholder="Date of memo" onSelection=(action (mut memo.dateCreated))}}
  </div>
  {{/card.content}}
{{/paper-card}}
{{yield}}
