<div>
  <div class="chart-container">
    {{pie-chart class="chart-container" options=donutOptions data=data1 responsiveResize=false}}
  </div>
  <div class="chart-container">
    {{bar-chart class="chart-container" options=donutOptions data=data3 responsiveResize=false}}
  </div>
  <div class="chart-container">
    {{pie-chart class="chart-container" options=donutOptions data=data2 responsiveResize=false}}
  </div>
  <div class="chart-container">
    <ul>
      <li>Pie-Group by status (done)</li>
      <li>Bar - tasks based on memo count - lazy, normal, active(done)</li>
      <li>Pie-Group by completed tasks before, on and overdue even after dueDate(done)</li>
      <li>Scatter - count of tasks on a day or week or month range</li>
      <li>Bar - tasks based on time of completion - short, medium, long term tasks</li>
    </ul>
  </div>
</div>
{{yield}}
