{{#if session.isAuthenticated}}
  <span>Logged in as {{session.currentUser.displayName}}</span>
  {{#paper-button primary=true onClick=(action "logout")}}Sign out with Github{{/paper-button}}
{{else}}
  {{#paper-button primary=true onClick=(action "login" "github")}}Sign in with Github {{/paper-button}}
{{/if}}

{{yield}}
