
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "toggle" leftSideBarLockedOpen)}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Toolbar with Icon Buttons
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left2"
    open=leftSideBarOpen
    lockedOpen=leftSideBarLockedOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}<a href=/>Home</a>{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#link-to "labels"}} Labels {{/link-to}}
    {{/paper-content}}
    {{#paper-content padding=true}}
      {{#link-to "login"}} Login {{/link-to}}
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
