
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "toggle" 'leftSideBarLockedOpen')}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Nike - JustDoIt
    </h2>
    <span class="flex"></span>
    {{#if isAuthenticated}}
      {{#paper-button iconButton=true onClick=(action "logout")}}
        {{paper-icon "power-settings-new"}}
      {{/paper-button}}
    {{/if}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left2"
    open=leftSideBarOpen
    lockedOpen=leftSideBarLockedOpen
    isLockedOpen=leftSideBarLockedOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}  {{#paper-button onClick=(action "transitionTo" "tasks")}} Home {{/paper-button}}{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#paper-list}}
        {{#paper-item}}
          {{#paper-button onClick=(action "transitionTo" "labels")}}First Link{{/paper-button}}
        {{/paper-item}}
        {{#paper-item}}
         {{#paper-button onClick=(action "transitionTo" "tasks")}} Second Link{{/paper-button}}
        {{/paper-item}}
     {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
