@import 'ember-paper';
@import "ember-vertical-timeline";
body {
  background-color: #f0f4f8;
}
.layout-fill {
  min-height: 1000px;
}
.timeline-image.done {
  background-color: #74ce65;
}
.timeline-image.re-new {
  background-color: #f48024;
}
.timeline-image.taken {
  background-color: #eac35e;
}
.timeline-image.new {
  background-color: #61b0e0;
}
.timeline-image {
  background-color: #c03b44;
}
.chart-container {
  min-height: 450px;
  padding: inherit 10%;
}
.date-picker-input{
  height: 50px;
}
.centre {
  text-align: center;
}
.display-inline {
  display: inline;
}
.bg-white {
  background-color: #fff;
}
.app-centre {
  position: relative;
  margin: 0 5%;
}
.controlled-background {
  max-height: 800px;
  max-width: 1665px;
}
