@import 'ember-paper';
@import "ember-vertical-timeline";
.app-background {
  background-color: #e9f0f6;
}
.block-image-bg.even {
  background-color: #74ce65;
}
.block-image-bg {
  background-color: #c03b44;
}
