{{#navigation-component signOutAction=(route-action "signOut") loginAction=(route-action "signIn") isAuthenticated=session.isAuthenticated}}
<div class="layout-fill layout-align-start-center app-background">
  {{outlet}}
  {{#login-component class="centre" session=session loginAction=(route-action "signIn") logoutAction=(route-action "signOut") }}{{/login-component}}
</div>
{{/navigation-component}}
