{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>
        Welcome to Nike
      </h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{card.image  class="controlled-background" src="https://file.ac/EFrrZnCjY9M/image000.jpg" alt="Washed Out" title="Washed Out"}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}JustDoIt{{/text.headline}}
    {{/title.text}}
    {{#card.content}}
        <p>
          Ember based UI application, with the tag line 'Just do it', with an intend to built a timeline based todo application. The primary objective of thia app is to visually track your to-dos based on timeline and prioity in which the task has been added. The is also categorizing of tasks and adding time based memos to keep track of your progress towards completing it. There is also a visual dashboard to visualise your activities.
        </p>
        <div class="layout-row flex">
          <div class="flex text-cente-colored">Tasks - Set your goals and their timelines </div>
          <div class="flex">
            <img src="https://cdn-std.dprcdn.net/files/acc_854507/DRFcKK" class="carousel-image" alt="Washed Out"/>
          </div>
        </div>
        <div class="layout-row flex">
          <div class="flex">
            <img src="https://cdn-std.dprcdn.net/files/acc_854507/S06KVm" class="carousel-image" alt="Washed Out"/>
          </div>
          <div class="flex text-cente-colored">Dashboard - Visualise how you hurdle through your goals</div>
        </div>
        <div class="layout-row flex">
          <div class="flex text-cente-colored">Memos - to log your activities for a task </div>
          <div class="flex">
            <img src="https://cdn-std.dprcdn.net/files/acc_854507/BDOPFH" class="carousel-image" alt="Washed Out"/>
          </div>
        </div>
        <div class="layout-row flex">
          <div class="flex">
            <img src="https://cdn-std.dprcdn.net/files/acc_854507/B4HlL4" class="carousel-image" alt="Washed Out"/>
          </div>
          <div class="flex text-cente-colored">Labels - to categorize your tasks</div>
        </div>
      {{/card.content}}
    {{/card.title}}
{{/paper-card}}
{{outlet}}
