<h2>List of Tasks</h2>
<ul>
  {{#each model.tasks as |task|}}
    <li>{{task.title}}</li>
  {{/each}}
</ul>
<span> User Name: {{model.user.displayName}} </span>
{{#add-task addNewTask=(route-action "addTask") store=store user=model.user}} {{/add-task}}
{{outlet}}
